body{font-size: 12px; margin: 0; padding: 0; font-family: Arial,Microsoft YaHei,\5FAE\8F6F\96C5\9ED1,"微软雅黑",SimHei,sans-serif;position:relative;color:#444444;}
*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
img{width: 100%;}
body{
	
}
.index{
	
	position: absolute;
	height: 100%;
	overflow:hidden;
}
/*外框*/
.warp{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	position: relative;
}

.home-banner{
	position: relative;
	width: 100%;
	margin-top: 5%;
}
.home-banner4{
	z-index: -1;
	position: relative;
	width: 100%;
	margin-top: -1%;
}
.home-banner4 img{
	width: 100%;
}
.home-banner1{
	margin-top: -1%;
}
.home-banner1 img{
	width: 100%;
}
.logo{
	left: 0;
	right: 0;
	margin: auto;
	position: relative;
	width: 15%;
	top: 10px;
}
.home-nav{
	width: 100%;
	position: absolute;
	bottom: 12%;
}
.home-nav .zhezhao{
	z-index: 1;
	width: 97.5%;
	position: absolute;
	bottom:0;
}
.home-nav .left{
	z-index: 9999;
	width: 3%;
	left: 0;
	position: absolute;
	top: 49%;
}
.home-nav .right{
	z-index: 9999;
	width: 3%;
	right: 0;
	position: absolute;
	top: 49%;
}
.nav-list{
	margin: auto;
	left: 0;
	right: 0;
	width: 88%;
	height: 115px;
	background: rgba(5,72,121,0.4);
	border: 1px solid #467095;
}
/*nav1*/

.banner-yi .list1 .img1{
	z-index: -1;
	width: 24%;
	position: absolute;
	bottom: 1%;
}
.banner-yi .list1 .img2{
	z-index: 99;
	width: 57%;
	position: absolute;
	right:15%;
	top: 9%;
	color:#fff;
	font-size:15px;
	line-height: 22px;

}
.banner-yi .list1 .img3{
	z-index: 99;
	width: 28%;
	position: absolute;
	right: 15%;
	bottom: 9%;
}
.banner-yi .list1 .img4{
	z-index: 999;
	width: 22%;
	position: absolute;
	left: 2%;
	bottom: 9%;
}
.banner3 .list1 .img1{
	width: 22%;
}

.banner2 .list1 .img1{
	width: 25%;
}

.banner1 .list1 .img1{
	width: 30%;
}
.banner1 .list1 .img2{
	width: 51%;
}


.yuan{
	width: 45%;
	position: absolute;
	left: 41%;
	top: 108%;
}
.yuan li{
	margin-left: 5%;
	float: left;
	background: #717272;
	width: 5px;
	height: 5px;
	border-radius: 5px;
}
.yuan li.in {
	background: #04c7ff;
}

.warp .p1{
	width: 88%;
	position: absolute;
	left: 7%;
	bottom: -39%;
	font-size: 16px;
	color: #FFFFFF;
}
.nav li{
	text-align: center;
	width: 29%;
	float: left;
	margin-left:4%;
}
.footer{
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 42px;
	background: url(../img/nav-bg.jpg) no-repeat;
	background-size: 100%;
	bottom: 0px;
}
.footer ul li{
	width: 25%;
	float: left;
	text-align: center;
	line-height: 54px;
}
.footer ul li img{
	width: 40%;
	
}
.footer ul li:nth-child(2) img{
	width: 55%;
}
.story-shipin{
	position: fixed;
	bottom: 1%;
	display: none;
}
/*故事子导航*/
.story-list{
	z-index: 9999;
	display: none;
	position: absolute;
	width: 25%;
	bottom: 100%;
	left: 25%;
}
.story-list li{
	list-style: none;
	height: 30px;
	width: 100%;
	background: #064c84;
	text-align: center;
	line-height: 40px;
}
.story-list li a img{
	width: 66%;

}
.story-list li:hover{
	background: #06679e;
}
.story-list li .white{
	display: none;
}
.story-list li .blue{
	display: inline;
}
.story-list li.in .white{
	display: block;
}
.story-list li.in .blue{
	display: none;
}
.story-list li .white1{
	position: absolute;
	top: 5%;
	left: 17%;
}
.story-list li .white2{
	position: absolute;
	top:29%;
	left: 17%;
}
.story-list li .white3{
	position: absolute;
	top:55%;
	left: 17%;
}
.story-list li .white4{
	position: absolute;
	top:79%;
	left: 17%;
}
/*故事*/
/*故事1*/
.disappear{
	opacity: 0;
	width: 90%;
	height: 100%;
	position: absolute;
}
.disappear .story-banner{
	width:100%;
}

.disappear .story-banner h1{
	width: 41%;
	margin-top:17%;
	margin-left: 3%;
}
.disappear .story-banner .img1{
	width: 100%;
	padding-left: 5%;
}
.disappear .tu1{
	position: absolute;
	width:44%;
	right: 0;
	top: 5%;
	z-index: -1;
}	
.disappear .tu2{
	width: 100%;
	z-index: 99;
	float: left;
	margin-left: 2%;
	margin-top: 12%;
	color:#fff;
	font-size:16px;
	height:150px;
	background:#073767;
	border:1px solid #0a5586;
	line-height:27px;
	padding:0 3%;
	padding-top:20px;
}
.disappear sub{
	width:100%;
	position: absolute;
	cursor: pointer;
	top: 81%;
	display:block;
	margin:0 auto;
	left:0;
}
.disappear sub a img{
	/*animation:animation 2s infinite ;
	-moz-animation:animation 2s infinite ;
	-webkit-animation:animation 2s infinite ;*/
	width: 75%;
	margin-left: 8%;
	display:block;
	margin:0 auto;
}
@keyframes animation{
		0%{opacity: 0;}
		20%{opacity: 1;}
		80%{opacity: 1;}
		100%{opacity: 0;}
}
@-moz-keyframes animation{
		0%{opacity: 0;}
		20%{opacity: 1;}
		80%{opacity: 1;}
		100%{opacity: 0;}
}
@-webkit-keyframes animation{
		0%{opacity: 0;}
		20%{opacity: 1;}
		80%{opacity: 1;}
		100%{opacity: 0;}
}
.content1{
	top: 175%;
}
.content2{
	top: 184%;
}
.content3{
	top: 184%;
}
.content4{
	top: 130%;
}
.content2 .story-banner h1{
	margin-top: 21%;
	width: 60%;
}
.content4 .story-banner h1{
	width:52%;
	margin-top:27%;
	margin-left: 3%;
}
.content3 .story-banner h1{
	width: 59%;
	margin-top:19%;
}
.content2 .tu1{
	width:39%;
	margin-top: 0%;
}
.content1 .tu1{
	margin-top: 3%;
	width: 50%;
}
.content1 .tu2{
	margin-top: 15%;
}
.content3 .tu1{
	width:36%;
}
.content4 .tu1{
	width:43%;
	margin-top: 6%;
}
.story-huaguo{
	width: 25%;
	position: fixed;
	bottom: 9%;
	padding-left: 37%;
}


.disappear,.disappear .logo
,.disappear h1,.disappear .tu1,.disappear sub,.disappear .tu2{
	opacity: 0;
	transform: translate(0,30px);
	-webkit-transform: translate(0,30px);
	-moz-transform: translate(0,30px);
}
.disappear .logo{
	transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
}
.disappear h1{
	transition: all 0.4s 0.2s; 
	-moz-transition: all 0.4s 0.2s; 
	-webkit-transition: all 0.4s 0.2s; 
}
.disappear .tu2{
	transition: all 0.4s 0.4s; 
	-moz-transition: all 0.4s 0.4s; 
	-webkit-transition: all 0.4s 0.4s; 
}
.disappear .tu1{
	transition: all 0.4s 0.6s; 
	-moz-transition: all 0.4s 0.6s; 
	-webkit-transition: all 0.4s 0.6s; 
}
.disappear sub{
	transition: all 0.4s 0.8s; 
	-moz-transition: all 0.4s 0.8s; 
	-webkittransition: all 0.4s 0.8s; 
}
.disappear.in,.disappear.in .logo
,.disappear.in h1,.disappear.in .tu2,.disappear.in sub{
	z-index: 999;
	opacity: 1;
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
.disappear.in .tu1{
	opacity: 1;
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
/*banner 轮播*/
.disappear .img1,.disappear .img2,.disappear .img3,.disappear .img4{
	opacity: 0;
	transform: translate(30px,0);
	-moz-transform: translate(30px,0);
	-webkit-transform: translate(30px,0);
}
.disappear .img1{
	transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
}
.disappear .img4{
	transition: all 0.4s 0.2s; 
	-moz-transition: all 0.4s 0.2s; 
	-webkit-transition: all 0.4s 0.2s; 
}
.disappear .img2{
	transition: all 0.4s 0.4s; 
	-moz-transition: all 0.4s 0.4s; 
	-webkittransition: all 0.4s 0.4s; 
}
.disappear .img3{
	transition: all 0.4s 0.6s; 
	-moz-transition: all 0.4s 0.6s; 
	-webkit-transition: all 0.4s 0.6s; 
}
.disappear.in,.disappear.in .img1
,.disappear.in .img2,.disappear.in .img3,.disappear.in .img4{
	opacity: 1;
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}
/*video*/
.video-banner{
	width: 100%;
}
.video-banner h1{
	display: block;
	width: 54%;
	margin: 10% auto;
}
/*.video-banner .img1{
	position: relative;
	z-index: 99;
	display: block;
	margin: 0 auto;
	width: 95%;
	margin-top:-2%;
}*/
.video-banner .video{
	position: relative;
	z-index: 99;
	margin: 0 auto;
	width: 95%;
	margin-top:-2%;
}
.video-banner .video>img{
	width:57px;
	position:absolute;
	top:0;bottom:0;right:0;left:0;
	margin:auto;
}
.video-neirong{
	width: 100%;
}
.video-neirong img{
	z-index: -999;
	bottom: 1%;
}
.video-neirong .img2{
	width: 18%;
	z-index: 99999;
	position: absolute;
	top: 60%;
	left: 40%;
}
/*购买*/
.buy-banner{
	width: 90%;
}
.buy-banner img{
	padding-top: 10%;
	padding-left: 7%;
}
.buy-neirong{
	width: 60%;
}
.buy-neirong img{
	padding-top: 7%;
	padding-left: 32%;
}
.buy-btn{
	width: 80%;
	position: fixed;
	bottom: 15%;
	left: 10%;
}
.buy-btn .btn3{
	margin-top: 3%;
}
.buy-btn .btn2{
	margin-top: 3%;
}
/*故事详情*/
.story1-content{
	width: 90%;
	margin: 0 auto;
	margin-left: 5%;
	color:#fff;
	line-height: 26px;
	font-size:15px;
}
.story1-img1{
	margin-top: 15%;
}
.story1-img2{
	margin-top: 9%;
}
.story1-img3{
	margin-top:5%;
}
.story1-img4{
	margin-top:5%;
}
.story1-img5{
	margin-top:7%;
}
.story1-img6{
	margin-top:10%;
}
.story1-img7{
	margin-top:5%;
}
.story1-img8{
	margin-top:7%;
}
.story1-img9{
	margin-top:5%;
}
.story1-img10{
	margin-top:7%;
	padding-bottom: 50%;
}
/*list-banner*/
.list-banner{
	width: 100%;
	position: absolute;
	margin-left: -4%;
	bottom: 8%;
}
.list-banner li{
	width: 30%;
	float: left;
	margin-left: 2%;
}
.story-click-list{
	width:100%;
	text-align: center;
	margin-bottom: 45px;
}
.story-click-list img{
	width:100px;
}
.dealer-title{
	width:70%;
	margin:0 auto;
	margin-top:30px;
}
.dealer-search{
	width:80%;
	margin:0 auto;
	text-align:center;
	margin-top:16px;
}
.dealer-search div{
	width:45%;
	background:#0070c6;
	border-radius:5px;
	color:#fff;
	display:inline-block;
	text-align: left;
	height:30px;
	line-height: 30px;
	padding-left:3%;
	font-size:18px;
	background-image:url(../img/dealer/foot.png);
	background-repeat:no-repeat;
	background-position:90% center;
	background-size:16px;
	position:relative;
}
.dealer-search .prov-div{
	width:35%;
	margin-left: -5%;
}
.dealer-search .city-div{
	width:55%;
	float: right;
}
.prov-div span,.city-div span{
	display:block;
}
.dealer-search ul{
	position:absolute;
	left:0;
	width:95%;
	top:33px;
	background:rgba(255,255,255,0.9);
	color:#0071c5;
	padding-left:5%;
	font-size:16px;
	line-height:22px;
	max-height:200px;
	overflow:auto;
	display:none;
}
.dealer-result{
	color:#fff;
	width:80%;
	margin:0 auto;
	margin-bottom:80px;
}
.dealer-result li{

	border-bottom:1px solid #2981aa;
	padding-bottom:20px;
	margin-top:20px;
}
.dealer-result h2{
	font-weight:normal;
	font-size:18px;
}
.dealer-result p{
	color:#c9c9c9;
	font-size:16px;
	margin:6px 0;
}
.dealer-result span{
	color:#c9c9c9;
	font-size:16px;
	color:#5ce2ff;
	background:url(../img/dealer/tel.png) left center no-repeat;
	padding-left:26px;
	background-size:17px;
}
.dealer-result span a{
	text-decoration: none;
	color: #5ce2ff;
}

	.banner1 .list1 .img1{width:38%; left: 0;}
	.banner2 .list1 .img1{width:32%; left: 0;}
	.banner3 .list1 .img1{width:33%; left: 0;}
	.banner4 .list1 .img1{width:30%; left: 0;}
	.banner-yi .list1 .img2{right:5%; top: 10%; font-size:15px; line-height: 24px; width: 55%;}
	.banner-yi .list1 .img3 {width: 32%; right: 9%;}
	.banner-yi .list1 .img4 {width: 26%; left:3%;}
	@media screen and (max-height:680px){
	.banner1 .list1 .img1{width:38%; left: 0;}
	.banner2 .list1 .img1{width:32%; left: 0;}
	.banner3 .list1 .img1{width:33%; left: 0;}
	.banner4 .list1 .img1{width:30%; left: 0;}
	.banner-yi .list1 .img2{right:5%; top: 10%; font-size:15px; line-height: 24px; width: 55%;}
	.banner-yi .list1 .img3 {width: 32%; right: 9%;}
	.banner-yi .list1 .img4 {width: 26%; left:3%;}
}
@media screen and (max-height:667px){
	.banner1 .list1 .img1{width:38%; left: 0;}
	.banner2 .list1 .img1{width:32%; left: 0;}
	.banner3 .list1 .img1{width:33%; left: 0;}
	.banner4 .list1 .img1{width:30%; left: 0;}
	.banner-yi .list1 .img2{right:5%; top: 10%; font-size:15px; line-height: 24px; width: 55%;}
	.banner-yi .list1 .img3 {width: 32%; right: 9%;}
	.banner-yi .list1 .img4 {width: 26%; left:3%;}
}
@media screen and (max-height:568px){
	.nav-list{height: 125px;}
	.banner1 .list1 .img1{width:42%; left: 0;}
	.banner2 .list1 .img1{width:35%; left: 0;}
	.banner3 .list1 .img1{width:36%; left: 0;}
	.banner4 .list1 .img1{width:34%; left: 0;}
	.banner-yi .list1 .img2{right:3%; top: 11%; font-size:14px; line-height: 21px; width: 55%;}
	.banner-yi .list1 .img3 {width: 38%; bottom: 14%; right: 9%;}
	.banner-yi .list1 .img4 {width: 32%; left:3%;}
}

.heng{
	z-index: 999999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	}
@media only screen and (min-width: 450px) {
	.heng{
		display: block;
	}
}

/*故事子导航*/
.sub-menu{
	z-index: 9999;
	display: none;
	position: absolute;
	width: 25%;
	bottom: 100%;
	left: 25%;
}
.sub-menu li.menu-item-object-post{
	list-style: none;
	height: 25px;
	width: 100%;
	float:left;
	background: #064c84;
}
.sub-menu li.menu-item-object-post a img{
	width: 90%;
	margin-top: 10%;
	padding-left: 4%;
}
.sub-menu li.menu-item-object-post:hover{
	background: #06679e;
}
span.menu-image-title{
	display:none;
}
ul.sub-menu li{
    height: 30px;
    width: 100%;
    background: #064c84;
    text-align: center;
    line-height: 40px;
}
.footer ul li.menu-item ul.sub-menu li span.menu-image-hover-wrapper{
	padding-right:0px;
}
ul.sub-menu li span.menu-image-hover-wrapper img.menu-image-title-after{
	width:66%;
}
ul.sub-menu li span.menu-image-hover-wrapper img.hovered-image{
	display:none;
}
span.menu-image-hover-wrapper img.hovered-image{
	display:none;
}
/* footer style */
.footer ul li a, .footer ul li a span{
	display:block;
	width:100%;
	height:100%;
}
.footer ul li a span.menu-image-title{
	display:none;
}
.footer ul li.current-menu-item img.menu-image{
	display:none;
}
.footer ul li.current-menu-item img.hovered-image, .footer ul.sub-menu li.current-menu-item a span img.hovered-image{
	display:inline;
}
.footer ul li.current-menu-item a.menu-image-title-after span.menu-image-hover-wrapper{
	text-align:center;
}
.footer ul li span img {
    vertical-align: baseline;
}
.footer ul li.menu-item span.menu-image-hover-wrapper img.menu-image-title-after{
	opacity: 1;
}
.content3 .tu1 {
 	width: 46%;
  	top: -2vw;
  	right: -5vw;
}
.tu2{
	position: relative;
}
	.banner-yi .list1 .img2{
		text-align: justify;
	}
@media screen and (max-height:560px){
	.nav-list{height: 100px;}
	.banner1 .list1 .img1{width:32%; left:0;}
	.banner2 .list1 .img1{width:26%; left:0;}
	.banner3 .list1 .img1{width:27%; left:0;}
	.banner4 .list1 .img1{width:26%; left:0;}
	.banner-yi .list1 .img2 {right:7%; top: 11%; font-size:14px; line-height: 19px; width: 60%;}
	.banner-yi .list1 .img3 {width: 32%; bottom: 14%; right: 9%;}
	.banner-yi .list1 .img4 {width: 20%; left:6%;}
}
@media screen and (max-height:540px){
	.nav-list{height: 73px;}
	.banner1 .list1 .img1{width:28%; left:6%;}
	.banner2 .list1 .img1{width:22%; left:6%;}
	.banner3 .list1 .img1{width:22%; left:6%;}
	.banner4 .list1 .img1{width:22%; left:6%;}
	.banner-yi .list1 .img2 {right:7%; top: 11%; font-size:12px; line-height: 19px; width: 60%;}
	.banner-yi .list1 .img3 {width: 32%; bottom: 14%; right: 9%;}
	.banner-yi .list1 .img4 {width: 20%; left:6%;}
}
/*****
后加
*****/
.story-click-list ul li img{
	border:2px solid #0245a0;
} 
/****/
.disappear .tu1{
	 right: -3vw;

} 
.content1 .tu1{
	width: 54%;
}
.content3 .tu1{
	width: 45%;
}
.disappear.content3 .tu1{
	right: -7vw;
}
.content4 .tu1 {
    margin-top: 4%;
    width: 44%;
}
/*
products-smb style
*/
.tit {
	width: 100%;
}
.tit img{
	width: 64.53vw;
	display: block;
	margin:11.71vw auto 0;
}
#pro{
	padding-bottom: 23.5vw;
}
#pro ul,#pro ul li{
	width:100%;
}
#pro ul li{
	margin-top: 10vw;
}
#pro ul li> img{
	width: 83%;
	display: block;
	margin:auto;
}
#pro ul li a{
	display: block;
	width: 43.4%;
	margin:auto;
	line-height: 0;
}
#pro ul li a img{
	width: 100%;
	display: inline-block;
}
.menu-hidden{
	display:none;
}
/* links style */
.buy-links{width: 100%; position: fixed; bottom: 10%;}
.buy-links ul {width:95%; margin:0 auto;}
.buy-links ul li{float:left;/* border-right:1px #fff solid;*/font-size: 12px;}
.buy-links ul li.last{border-right:none;}
.buy-links a{color:#fff; display:block;  text-decoration:none;}
/*5-20*/
.buy-links ul:after{
	content: "";
	display: block;
	clear: both;
}

.buy-links ul li a:before{
	content: "";
	display: inline-block;
	height: 10px;
	width: 1px;
	background: #fff;
	margin:1px 1vw;
	position: relative;
	top: 2px;
}
.buy-links ul li:first-child a:before{
	content: "";
	display: inline-block;
	height: 0px;
	width: 0px;
}
.buy-links ul li:first-child{
	position: relative;
	top: 1px;
}
@media screen and (max-width: 414px) {
	.buy-links ul {width:85%;}
}
@media screen and (max-width: 375px) {
	.buy-links ul {width:91%;}
}
@media screen and (max-width: 360px) {
	.buy-links ul {width:93%;}
}
@media screen and (max-width: 320px) {
	.buy-links ul {width:95%;}
	.buy-links ul li{
		font-size: 11px;
	}
}